body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}
#h1
{
  text-align: center;
  color: orangered;
  opacity: 0.7;
  
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #a4fced;
  padding: 20px;
  border-radius: 8px;   
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #0fc7ff;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #8896e7;
}
#sp{
  text-transform: capitalize;
}

#sec1{
  margin-left: 35%;
  margin-top: -26%;
}
.bu{
  margin-left: 75%;
  height: 25px;
  
}
#s2{
  margin-top: -25%;
}

.d1{
  margin-left: 88%;
  margin-top: -27%;
}
#sb{
  color: black;
  background-color: chartreuse;
  
}

p{
  
  width: 100px;
  height: 25px;

}
button {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}